<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.rocketico.mapp">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- todo move fabric api key to new account -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3571844db4c892ce6439982d4ad2f57badae9e91" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CreateWalletActivity" />
        <activity
            android:name=".activity.MenuActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.LogInActivity" />
        <activity android:name=".activity.ImportWalletActivity" />
    </application>

</manifest>