<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.rocketico.mapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="allowBackup">

        <!-- todo move fabric api key to new account -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3571844db4c892ce6439982d4ad2f57badae9e91" />

        <activity android:name=".activity.MainActivity"
            android:theme="@style/MainActivityTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateWalletActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MenuActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LogInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.ImportWalletActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FingerPrintActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>